# Common aws config
export AWS_REGION=
export AWS_PROFILE=

# Applcation aws config
export AWS_LAMBDA_FUNCTION_NAME=
export AWS_LAMBDA_BUCKET=
export AWS_LAMBDA_KEY="$AWS_LAMBDA_FUNCTION_NAME/lambda.zip"

# Terraform variable assignments [common]
export TF_VAR_aws_region=$AWS_REGION

# Terraform variable assignments [application]
export TF_VAR_lambda_function_name=$AWS_LAMBDA_FUNCTION_NAME
export TF_VAR_s3_lambda_bucket=$AWS_LAMBDA_BUCKET
export TF_VAR_s3_lambda_key=$AWS_LAMBDA_KEY
