export S3_PUBLIC_BUCKET=
export S3_PRIVATE_BUCKET=

export AWS_PROFILE=
export AWS_REGION=

export CDN_HOST=
export API_HOST=

export SENTRY_DSN=

## namepicker
export NAMEPICKER_SHEET_ID=
export GCP_OAUTH_CLIENT_ID=
export GCP_OAUTH_REFRESH_TOKEN=
export GCP_OAUTH_CLIENT_SECRET=
